.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  background-color:rgba(52, 201, 75, 1);
  height: 65px;
  gap: 0px;
  opacity: 0px;

}

.logo {
  flex: 0 1 auto;
}

.searchBox {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.feedback {
  flex: 0 1 auto;
}