.feedback {
    display: flex;
    align-items: center;
    padding: 2px;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid rgba(18, 18, 18, 1); 
    background-color: #000;
  }
  
  .feedback button {
    padding: 10px 20px;
    background-color: #000;
    color:rgba(52, 201, 75, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .feedback button:hover {
    background-color: #333;
  }
  
  .feedback button:active {
    background-color: #555;
  }